* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 110px;
  background: linear-gradient(to right, #ff0606, #f5000083);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 160px;
}

.searchbar-container {
  display: flex;
  align-items: center;
  margin: 8px auto;
  padding: 0 20px;
}

.searchbar input {
  background-color: #33333325;
  margin-right: 10px;
  height: 30px;
  width: 300px;
  padding: 14px;
  box-shadow: 0px 2px 2px (0, 0, 0, 0.25);
  border-radius: 5px;
  border-style: none;
}

.searchbar-btn button {
  border: none;
  border-radius: 10px;
  padding: 8px;
}

.searchbar-btn :hover {
  background-color: #ff0000;
  color: #ffffff;
  cursor: pointer;
}

.pokedex-header {
  font-family: anton, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-header h1 {
  color: #ffcb05;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: #2a75bb;
}

.pokedex-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.pokemon-card {
  font-family: Roboto, sans-serif;
  background-color: #d3d3d3;
  display: flex;
  box-shadow: 3px solid black;
  border-radius: 5px;
  margin: 8px;
  padding: 6px;
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.pokemon-image-container {
  padding: 0px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: uppercase;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-types {
  display: flex;
  flex-direction: row;
}

.pokemon-type-text {
  text-transform: uppercase;
  margin-right: 10px;
}

.pokemon-heart-btn {
  border-style: none;
  border-radius: 20px;
  padding: 6px;
}

.pokemon-heart-btn:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}

.pagination-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.not-found {
  margin: 10px;
  font-size: 1.5em;
  font-style: bolder;
  text-transform: uppercase;
  color: #ff0000;
}
